<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
  	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	  <meta name="viewport" content="width=device-width, initial-scale=1">
  	  <meta name="description" content="">
  	  <meta name="author" content="">
  	  <link rel="icon" href='stylesheets/favicon.ico'>

  	 <link href = 'stylesheets/index.css' rel ='stylesheet'>
    <title>soundmeow</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

	</head>
	<body class = 'index'>
		<header id = 'nya' class = 'header'>
			<div id = 'soundmeow' class = 'text-vertical-center'>
				<h1>soundmeow</h1>
				 
				 <div class="col-lg-6">
   					 <div class="input-group">
   					   <input type="text" id ='music_search' class="form-control" placeholder="What do you want to hear?">
    				  <span class="input-group-btn">
    				    <button class="btn btn-default" type="button">Playlist</button>
     				 </span>
    				</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
  	
  					<a  id = 'sourc' href="http://soundmeow.herokuapp.com/auth/soundcloud" class="btn">Sign In to Soundcloud</a>
     		
			</div><!-- /.row -->
		</header>
	</body>
</html>