<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
  	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	  <meta name="viewport" content="width=device-width, initial-scale=1">
  	  <meta name="description" content="">
  	  <meta name="author" content="">
  	  <link rel="icon" href='stylesheets/favicon.ico'>
    <script charset="utf-8" src="//code.jquery.com/jquery.js"></script>

  	 <link href = 'stylesheets/soundmeow.css' rel ='stylesheet'>
    <title>soundmeow</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

	</head>
	<body class = 'index'>
		<header id = 'nya' class = 'header'>
			<div id = 'soundmeow' class = 'text-vertical-center'>
				<h1 id ='meow'>soundmeow</h1>
        <% if(!user) {%>
            <a  id = 'sourc' href="http://soundmeow.herokuapp.com/auth/soundcloud" class="btn">Sign In to Soundcloud</a>
         <%}else{%>  
         <div class ='col-md-4'></div>
				 <div class="col-md-4" id = 'mid'>
   					 <div class="input-group" id = 'origin'>
   					   <input type="text" id ='music_search' class="form-control" placeholder="What do you want to hear?">
    				  <span class="input-group-btn">
    				    <button class="btn btn-default" type="button" id='makePlaylist'>Playlist</button>
     				 </span>
    				</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
          <div class='col-md-4'></div>
  	      <% } %>
			</div><!-- /.row -->
		</header>
    <% if (artwork){ %>
    <div class="hidden">
      <script type="text/javascript">
    <!--//--><![CDATA[//><!--
      var images = new Array()

      function preloader() {
        if (document.images) {
          var urls = [<%-artwork%>];
          for (images in urls){
            var img1 = new Image();
            img1.src = urls[images];
          }
          /*var img1 = new Image();
          img1.src = <%-artwork-%>; */
          

        }
      }
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function() {
            if (oldonload) {
              oldonload();
            }
            
            func();
          } 
        }
      }
      addLoadEvent(preloader);
      </script>
    </div>
    <% } %>
	</body>

  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
  <%if(trackNumber && user){%>

  <script>
    function insertParam(key, value, currentURL){
          key = encodeURI(key);
          value = encodeURI(value);
          if (currentURL.indexOf('?') > -1){
            currentURL +=  '&' + key + '=' + value;
          }else{
            currentURL += '?' + key + '=' + value;
          }
          return currentURL;
  }
  var trackURL = 'https://soundcloud.com/porter-robinson/sets/worlds';
  var clientID = 'bdada4ec105a7128a8b5f8789074517f';
  var redirect = 'http://soundmeow.herokuapp.com/auth/soundcloud/callback';
  var trackNumber = <%-trackNumber%>;
  <% if (artwork != ''){ %>
    var image = [<%-artwork%>];
  <%}else{%>
    var image = null;
  <%}%>
    SC.initialize({
      client_id:clientID,
      redirect_uri: redirect

    });
    //SC.stream only works on Safari.
    /*SC.stream('/tracks/' + String(trackNumber)).then(function(player){
      player.play();
    });*/
  if (trackNumber){
    SC.oEmbed(trackNumber, { auto_play: true, maxwidth : 400}).then(function(oEmbed) {
      console.log(oEmbed);
     $(document).ready(function() {
      console.log('inside',oEmbed);
        $('#mid').append(oEmbed.html);
        $('#meow').contents().last()[0].textContent=oEmbed.title;
        var stuff = document.getElementsByTagName('iframe')[0];
         $(stuff).contents().find("html").html();
        var thatItem = $('.soundItem g-highlighted viewTrackLink');
        var a = $('.soundItme g-highlighted viewTrackLink').find($('.soundItem__title sc-truncate g-text-shadow'));
        console.log(a.contents);
        $('#makePlaylist').click(function(){
          console.log('Making Playlist...');
          $('#nya').attr('id','loading');
          var query = $('#music_search').val();
          console.log(query);
          var lo = insertParam('genre', query, 'search/query');
          window.location.href = 'http://soundmeow.herokuapp.com/' + lo;
        });
        if(image){
          console.log(image.length);
          console.log(image);
          var zero = 0;
          setInterval(function(){
            zero = ++zero % image.length;
            console.log(zero);
            $('.header').css('background-image','url(' + image[zero] + ')');

          }, 5000);
        }
       /*if(image){
        $('.header').css('background-image','url(' + image[0] + ')');
       } */
     
      });
    });
  }
    
  </script>
  <%}%>
</html>