<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
  	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	  <meta name="viewport" content="width=device-width, initial-scale=1">
  	  <meta name="description" content="">
  	  <meta name="author" content="">
  	  <link rel="icon" href='stylesheets/favicon.ico'>
    <script charset="utf-8" src="//code.jquery.com/jquery.js"></script>

  	 <link href = 'stylesheets/soundmeow.css' rel ='stylesheet'>
    <title>soundmeow</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

	</head>
	<body class = 'index'>
		<header id = 'nya' class = 'header'>
			<div id = 'soundmeow' class = 'text-vertical-center'>
				<h1 id ='meow'>soundmeow</h1>
        <% if(!user) {%>
            <a  id = 'sourc' href="http://soundmeow.herokuapp.com/auth/soundcloud" class="btn">Sign In to Soundcloud</a>
         <%}else{%>  
         <div class ='col-md-4'></div>
				 <div class="col-md-4" id = 'mid'>
   					 <div class="input-group" id = 'origin'>
   					   <input type="text" id ='music_search' class="form-control" placeholder="What do you want to hear?">
    				  <span class="input-group-btn">
    				    <button class="btn btn-default" type="button">Playlist</button>
     				 </span>
    				</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
          <div class='col-md-4'></div>
  	      <% } %>
			</div><!-- /.row -->
		</header>
	</body>
  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
  <%if(trackNumber && user){%>

  <script>
  var trackURL = 'https://soundcloud.com/porter-robinson/sets/worlds';
  var clientID = 'bdada4ec105a7128a8b5f8789074517f';
  var trackNumber = <%=trackNumber%>;
    SC.initialize({
      client_id:clientID
    });
    //SC.stream only works on Safari.
    /*SC.stream('/tracks/' + String(trackNumber)).then(function(player){
      player.play();
    });*/
    SC.oEmbed(trackURL, { auto_play: true, maxwidth : 400}).then(function(oEmbed) {
      console.log(oEmbed);
     $(document).ready(function() {
      console.log('inside',oEmbed);
        $('#mid').append(oEmbed.html);
        $('#meow').text=oEmbed.title;
      });
    });
    SC.get('/tracks', {
      q: 'Porter Robinson'
      }).then(function(tracks) {
        console.log(tracks);
    });
  </script>
  <%}%>
</html>